/* Base Application Styles */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.show {
  display: block;
}

.hide {
  display: none;
}

clear::after {
  content: "";
  display: table;
  clear: both;
}

.shadow {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
